canvas {
    display: block;
    margin: 0 auto;
}

#tools {
    position: fixed;
}

input[type=text], input[type=number] {
    padding: 10px;
    margin: 2px;
}

input[type=button], button {
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: blueviolet;
    color: white;
}

input[type=button]:hover, button:hover {
    background-color: yellow;
    color: black;
}

input[type=button]:active, button:active {
    transform: translateY(1px);
}

canvas {
    width: auto;
    height: 100vh;
}